<div ng-init="init()">
    <div class="row">
        <div class="col-md-12">

            <h4>Don't know what to do next weekend? See how other people spend their leisure time</h4>

            <hr/>

            <div class="row">
                <div class="col-md-4">
                    <div class="all-activities-label-box">
                        <label class="all-activities-label">People choose following leisure activities: </label>
                    </div>
                </div>

                <div class="col-md-4">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label  class="control-label" for="type">Category:  </label>
                            <select id="type" class="form-control" ng-options="curType.type_id as curType.name for curType in activityTypes" ng-change="filterChangeAction()" ng-model="inType" >
                                <option value="">All</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="col-md-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-class="{active:orderBy==5}" ng-click="sortingChange(5)">Popular</button>
                        <button type="button" class="btn btn-default" ng-class="{active:orderBy==4}" ng-click="sortingChange(4)">Latest</button>
                    </div>
                </div>

                <div class="col-md-2">
                    <input type="text" class="form-control" id="inputKeywords" placeholder="Search" ng-model="inKeywords" delayed-change="filterChangeAction()" data-delay="500"/>
                </div>
            </div>

            <div>
                <div ng-repeat="activityCategory in activityCategories track by $index" class="well activity-tile">
                    <div class="glyphicon-icon" ng-click="openModal(activityCategory)" ng-show="isLogged">
                        <span class="glyphicon glyphicon-plus" tooltip="Add to My Activities"></span>
                    </div>
                    <a href="#/activityByCategory/{{activityCategory.category_id}}" class="category">{{activityCategory.name}}</a>
                    <p>{{activityCategory.activity_count}} people added this activity</p>
                    <img ng-src="{{activityCategory.img_url}}">
                </div>
            </div>
            <button class="btn btn-primary" ng-click="loadMore()" ng-show="loadMoreVisible" align="center">Load More  <i class="fa fa-refresh"></i> </button>
        </div>
    </div>
</div>