<div class="well">
    <h3>We make leisure time pleasure time</h3> <br/>

    <h5>Our mission is to make people's leisure time interesting and pleasurable. <br/><br/>

    Leisurea is the place where you can find new ideas for your free time and search people with common interests.
    </h5>
    <br/>
    Help us make Leisurea better. W'd like to hear about it. Email your feedback to <a href="mailto:leisurea.com@gmail.com?Subject=Feedback">leisurea.com@gmail.com</a>
    <br/><br/>
    <div class="fb-like" data-href="http://leisurea.com" data-width="160" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>